DJANGO_DEBUG=0
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=proforin.online,www.proforin.online,proforin.ru,www.proforin.ru
DJANGO_CSRF_TRUSTED_ORIGINS=http://proforin.online,http://www.proforin.online,http://proforin.ru,http://www.proforin.ru,https://proforin.online,https://www.proforin.online,https://proforin.ru,https://www.proforin.ru
DJANGO_TRUST_PROXY_HEADERS=1
DJANGO_SECURE_SSL_REDIRECT=0
DJANGO_SESSION_COOKIE_SECURE=0
DJANGO_CSRF_COOKIE_SECURE=0
DJANGO_HSTS_SECONDS=0
DJANGO_ADMIN_URL=admin/
DJANGO_DB_PATH=/srv/kliko-site/shared/db.sqlite3

CONTACT_PHONE_DISPLAY=+7 (000) 000-00-00
CONTACT_PHONE_TEL=+70000000000
TELEGRAM_URL=https://t.me/kulagingerman
WHATSAPP_URL=https://vk.com/username

EXAMPLE_PRIMERI_URL=/examples/primeri/
EXAMPLE_PRIMERI_2_URL=/examples/primeri-2/

TELEGRAM_NOTIFY_ENABLED=1
TELEGRAM_BOT_TOKEN=change-me
TELEGRAM_CHAT_ID=
TELEGRAM_ADMIN_USERNAME=@kulagingerman
